body{
    background: #b3c9e8;
}
/*顶部条部分*/
.header_bg{
    width:100%;
    height:61px;
    background: #fefefe;
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    top:0;
    z-index: 1000;
    border-bottom: 1px solid #c5c5c5;
    border-radius: 0 0 7px 10px;
    box-shadow: 2px 2px 10px #666;
}
.header{
    width:1250px;
    height:60px;
    margin:0 auto;
    background: #fefefe;

}
.header>a{
    float: left;
    width:187px;
    height: 60px;
}
.header form{
    float: left;
    width: 500px;
    padding-top: 10px;
}
.header form .search_box{
    width: 400px;
    height:37px;
    border:1px solid #cbcbcb;
    text-indent: 12px;
    font-size: 14px;
    color:#7f7f7f;
    float: left;
    border-right:none;
    background: #f1f1f4;
    float: left;
}
.header form .submit{
    width: 50px;
    height:37px;
    border:1px solid #cbcbcb;
    line-height: 1;
    float: left;
    background: url('../img/index_search_bg.jpg');
    border-radius: none!important;
    border-left:none;
}
.header>ul{
    float: left;
    width: 560px;
    height: 100%;
}
.header>ul>li{
    float: left;
    height: 100%;
    margin-right: 30px;
}
.header>ul>li>a{
    color:#696e78;
    display: block;
    height: 100%;
    text-decoration: none!important;
    line-height: 60px;
    transition: all 0.3s;
}
.header>ul>li>a i{
    color:#686d77;
    font-size: 14px;
    line-height: 60px;
    padding-right: 7px;
}
.header>ul>li:hover a{
    color:#f87939;
    transform: scale(1.2);
}
.header>ul>li:hover a i{
    color:#f87939;
}

.con{
    width: 1250px;
    margin:85px auto 0;
    position: relative;
}
.con:after{
    content: '';
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    clear: both;
}
.con_left{
    width: 900px;
    float: left;
    height:500px;
}
.con_left .share_box{
    width: 800px;
    margin:0 auto 20px;
    padding: 10px 50px 20px;
    background: #fefefe;
    border-radius: 7px;
    box-shadow: 5px 5px 13px rgba(0,0,0,0.6);
}
.con_left .share_box .tit_box{
    height: 60px;
}
.con_left .share_box .tit_box .user_pic{
    display: block;
    float: left;
}
.con_left .share_box .tit_box .user_pic img{
    margin: 10px 15px 0 10px;
    width:40px;
    height: 40px;
}
.con_left .share_box .tit_box .user_name{
    font-size: 18px;
    font-weight: 900;
    padding-top: 10px;
    line-height: 1;
    float: left;
    width: 500px;
    color: #323232;
}
.con_left .share_box .tit_box .user_msg{
    width: 500px;
    float:left;
    font-size: 14px;
    color:#7f7f7f;
    padding-top: 5px;
}
.con_left .share_box .tit_box .user_operate{
    width: 100px;
    height: 35px;
    font-size: 14px;
    color:#323232;
    text-align: center;
    float: right;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
    background: transparent;
    transition: all 0.3s;
}
.con_left .share_box .tit_box .user_operate i{
    color: #f97c3d;
    margin-right: 3px;
}
.con_left .share_box .tit_box .user_operate:hover{
    background: #eee;
    color:#666;
    transform: translateY(3px);
}
.con_left .share_box .tit_box .user_operate:hover i{
    color: #f92c1d;
}
.con_left .share_box .share_box_con{
    width:100%;
    height: auto;
}
.con_left .share_box .share_box_con .share_article{
    font-size: 16px;
    color: #323232;
    line-height: 28px;
    text-indent: 32px;
    padding-top: 20px;
}
.con_left .share_box .share_box_con .share_pic_box{
    width: 600px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 10px;
}
.con_left .share_box .share_box_con .share_pic_box>div{
    width: 31%;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 3px;
    border: 1px solid #eee;
    overflow: hidden;
}
.con_left .share_box .share_box_con .share_pic_box>div img{
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
.con_left .share_box .share_box_con .share_pic_box>div:hover img{
    transform: scale(1.4);
}
.con_left .share_box .share_bottom{
    height: 45px;
    border-top: 1px solid #f1f1f4;
}
.con_left .share_box .share_bottom>ul{
    width: 100%;
    height: 100%;
}
.con_left .share_box .share_bottom>ul>li{
    float: left;
    width: 20%;
    height: 100%;
    cursor: pointer;
    line-height: 45px;
    font-size: 14px;    
    color: #886d77;
    border-right: 1px solid #f1f1f4;
    text-align: center;
    border-radius: 5px;
}
.con_left .share_box .share_bottom>ul>li i{
    margin-right: 10px;
    font-size: 16px;
}
.con_left .share_box .share_bottom>ul>li span{
    margin-left: 5px;
}
.con_left .share_box .share_bottom>ul>li:hover{
    background: #eee;
    color: #ec7320;
}
.con_left .share_box .comment{
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    background: #f1f1f4;
    padding-top: 15px;
    border-radius: 10px;
}
.con_left .share_box .comment form{
    width: 100%;
    overflow: hidden;   
}
.con_left .share_box .comment form input[type=text]{
    width: 90%;
    display: block;
    margin:0 auto;
    padding: 5px;
    font-size: 14px;
    text-indent: 14px;
}
.con_left .share_box .comment form input[type=submit]{
    width: 62px;
    height: 26px;
    border:none;
    background: #febf9f;
    float: right;
    color: #fefefe;
    border-radius: 3px;
    margin-right: 45px;
    margin-top: 10px;
}
.con_left .share_box .comment form input[type=submit]:hover{
    background: #fd7f4f;
}
.con_left .share_box .comment>ul{
    margin-top: 20px;
    padding-left: 30px;
    border-top: 1px solid #d8d8d8;
    width: 90%;
    margin:0 auto;
    margin-top: 15px;
} 
.con_left .share_box .comment>ul li{
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    color: #323232;
    font-weight: 900;
    padding: 10px 15px;
}
.con_left .share_box .comment>ul li .comment_owner{
    font-size: 14px;
    color: #6097d5;
    margin-right: 5px;
    font-weight: 100;
}
.con_left .share_box .comment>ul li .comment_con{
    color: #000;
    font-weight: 100;
}
.con_left .share_box .comment>ul li>p{
    overflow: hidden;
    line-height: 1;
    padding-top: 7px;
}
.con_left .share_box .comment>ul li .comment_time{
    display: block;
    font-size: 12px;
    color:#7f7f7f;
    font-weight: 100;
    float: left;
    display: block;
    margin-right: 20px;
    line-height: 17px;
}
.con_left .share_box .comment>ul li .comment_good{
    font-size: 16px;
    display: block;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    float: right;
}
.con_left .share_box .comment>ul li .comment_good:hover{
    color: #ee3410;
}
.con_left .share_box .comment>ul li .comment_good i{
    font-size: 16px;
    font-weight: 900;
    margin-right: 5px;
}
.con_left .share_box .comment>ul li .comment_good b{
    font-weight: 100;
}
.con_left .share_box .comment>ul li .ready{
    color:#ee3410;
}
.con_left .share_box .comment>button{
    width: 80%;
    height: 30px;
    display: block;
    margin: 10px auto 0;
    background: #fea329;
    border: none;
    border-radius: 7px;
    color: #fefefe; 
}
.con_left .share_box .comment>button:hover{
    background: #fe6309;

}
.con_right{
    width: 300px;
    float: left;
    height:400px;
    background: #fefefe;
    border-radius: 10px;
    box-shadow: 5px 5px 13px rgba(0,0,0,0.6);
    position: absolute;
    right: 80px;
    top: 0;
}
.con_right .owner{
    width: 70%;
    height: 200px;
    margin:0 auto;
    padding-top: 30px;
}
.con_right .owner .owner_pic{
    width: 90px;
    height: 90px;
    display: block;
    margin:0 auto;
}
.con_right .owner .owner_pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.con_right .owner .owner_name{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    padding-top: 15px;
}
.con_right .operator_list{
    width: 70%;
    margin:0 auto;
}
.con_right .operator_list>ul{
    width: 100%;
}
.con_right .operator_list>ul>li{
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin: 10px 0;
    line-height: 40px;
    text-align: center;
    background: #fda83c;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    transition: all 0.3s;
}
.con_right .operator_list>ul>li:hover{
    background: #fd680c;
    transform: translateY(-3px);
    box-shadow: 3px 3px 15px rgba(0,0,0,0.6);
}
.con_right .operator_list>ul>li a{
    text-decoration: none;
    color: #fefefe;
}

/*登录盒子部分*/
.login_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top:0;
    z-index:99980;
    display: none;
}
.login_bg .login_box{
    width: 400px;
    height:310px;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background: #fefefe;
    border-radius: 10px;
    box-shadow: 3px 3px 14px rgba(0,0,0,0.9);
}
.login_bg .login_box .login_title{
    width:100%;
    height:40px;
    font-size: 30px;
    text-align: center;
    padding-top: 9px;
    position: relative;
}
.login_bg .login_box .login_title a{
    display: block;
    position: absolute;
    right:20px;
    top:10px;
    width:36px;
    height: 36px;
    border: 4px solid #000000;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    font-size: 22px;
    color: #000;
}
.login_bg .login_box .login_title a:hover{
    border: 4px solid red;
    color: red;
}
.login_bg .login_box .login_con{
    width: 100%;
    padding: 20px 15px 10px; 
}
.login_bg .login_box .login_con p{
    width: 100%;
    height: 50px;
    padding-top: 10px;
}
.login_bg .login_box .login_con p label{
    font-size: 16px;
    display: block;
    float: left;
    text-align: right;
    width: 70px;
    line-height: 40px;
    margin-right: 15px;
    color:#333;
}
.login_bg .login_box .login_con p input{
    height: 40px;
    border: 1px solid transparent;
    border-bottom: 1px solid #999;
    width:225px;
    font-size: 16px;
    text-indent: 16px;
}
.login_bg .login_box .login_con .forgetPasd{
    display: block;
    font-size: 16px;
    text-decoration: none;
    line-height: 35px;
    width:64px;
    margin-left: 85px;
}
.login_bg .login_box .login_con button{
    display: block;
    margin:0 auto;
    height: 45px;
    width: 240px;
    background: orange;
    border: 0;
    border-radius: 7px;
    font-size: 16px;
    color: #fefefe;
}
.login_bg .login_box .login_con button:hover{
    background: #ac0;
}
.login_bg .login_box .login_con .nowReg{
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
}
.login_bg .login_box .login_con .nowReg a{
    text-decoration: none;
}

.my_follow_bg{
    position: fixed;
    margin:auto;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    background: #fefefe;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.8);
    padding: 15px 15px;
    overflow-y:auto;
}
.my_follow_title{
    width:100%;
    height:40px;
    font-size: 30px;
    text-align: center;
    padding-top: 9px;
    position: relative;
}
.my_follow_title a{
    display: block;
    position: absolute;
    right:20px;
    top:10px;
    width:36px;
    height: 36px;
    border: 4px solid #000000;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    font-size: 22px;
    color: #000;
}
.my_follow_title a:hover{
    border: 4px solid red;
    color: red;
}
.my_follow_list{
    width: 100%;
    height: auto;
    padding-top: 25px;
    text-align: center;
}
.my_follow_list:after{
    content: '';
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    clear: both;
}
.my_follow_list li{
    width:33%;
    float: left;
    padding: 10px 0;
}
.my_follow_list li img{
    width:40px;
    height: 40px;
    cursor: pointer;
}
.my_follow_list li p{
    font-size: 16px;
    line-height: 30px;
}
.my_follow_list li button{
    width: 90px;
    height: 30px;
    border: 0;
    background: #df8812;
    border-radius: 8px;
    color: #fefefe;
    box-shadow: 2px 2px 7px #000000;
}
.my_follow_list li button:hover{
    background: #df88f2;
}